*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.let1{
    padding:  50px 80px 50px 100px;
    width: 100%;
}

.let11{
    font-size: 3rem;
    line-height: 120%;
    font-weight: 900;
    padding-left: 75px;
    margin-top: 30px;
}

.p11{ 
    padding-left: 75px;
    margin-top: 30px;
    color: #525560;
}

.flex1{
    width: 60%;
}

.but3{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.butby{
    padding: 10px 23px;
    outline: none;
    border: none;
    background-color: #F2C94C;
    font-weight: 500;
}

.let1{
    display: flex;
    
}

.image{
    width: 40%;
}

.chal{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.chal2{
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.main{
    font-size: 3rem;
    font-weight: bolder;
    line-height: 130%;
}

.sub-head{
    font-style: italic;
    color: #525560;
    font-size: 0.9rem;
}

.cont{
    color: #525560;
    line-height: 160%;
}

.flex2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.caro{
    width: 45%;
    position: relative;
}

.image2{
    margin-top: 20px;
    
}

.arrows{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    transition:1s ease-in-out;
    cursor: pointer;
    width: fit-content;
}

.arrows2{
    position: absolute;
    bottom: 0;
    transition: 1s ease-in-out;
    left: 0;
    cursor: pointer;
    width: fit-content;
}

.dot{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 11;
}

.dots{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 10;
    background-color: white;
}

#dots-sp{
    background-color: #F2C94C;
}

#caro2,#caro3{
   display: none;
   transition: opacity 0.5s ease-in-out;
}

#caro1{
    transition: opacity 0.5s ease-in-out;
}

#lastle{
    left: 0;
}

.arrows:hover,.arrows2:hover{
    transform: scale(0.9);
}

#chal22{
    display: none;
}

.chal3{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

#chal32{
    display: none;
}

.chal4{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 97%;
}

#chal42{
    display: none;
    width: 47%;
}

#chal41{
    width: 45%;
}

#chal52{
    display: none;
}

#chal62{
    display: none;
}

.chal6{
    padding: 100px 50px;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 100%;
}

.chal6>div{
    width: 90%;
}


#lastchal{
    width: 45%;
    word-spacing: 0.3px;
}